.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TapBar {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}

.TapBar > p{
  margin:0 4px ;
  position: relative;
}

.TapBar > p:hover{
  cursor: pointer;
}

.TapBar > p::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.Home {
  width: 100vw;
  height: 100vh;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  background-image: url('hinh-anh-su-tu-gam.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.AboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.Circle {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.WrapCircle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Wrap2child {
  display: flex;
  flex-direction: row;
}