.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.header-middle{
  font-size: medium;
  margin-left: 30px;
  padding: 20px;
}
.header-right{
  position: absolute;
  right: 0px;
}

.border{
  display: flex;
}

.border1{
  border: 10px;
  width: 150px;
  height: 60px;
  text-align: center;
  background-color: #81D189;
  margin: 20px;
  position: static;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px #C3DAD0 ;
  border-radius: 10px;
}

.border2{
  border: 10px;
  width: 150px;
  height: 60px;
  text-align: center;
  background-color: #81D189;
  margin: 20px;
  position: static;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0.5;
}

section{
    margin-bottom: 20px;
    position: relative;
}

.grid_container{
  padding: 10px;
  margin: 0px;
}

.grid_container1{
  padding: 10px;
  padding-left: 10px;
}
.grid_item{
  font-size: medium;
  margin:20px
}
.grid_italic{
  margin: 20px;
  font-size: medium;
  font-style: italic;
}