.label1 {
    margin-left: 30%;
    padding-right: 30px ;
}

.label2 {
    margin-left: 30%;
    padding-right: 55px ;
}

.label3 {
    margin-left: 30%;
    padding-right: 25px ;
}

.label4 {
    margin-left: 30%;
    padding-right: 65px ;
}

.ip {
    height: 40px;
    width: 400;
}

.button {
    font-size: 20px;
    margin-left: 40%;
}

.button1 {
    font-size: 20px;
    margin-left: 10px
}